<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">Exam System</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" [routerLink]="['/exam-list']">Available Exams</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" [routerLink]="['/results']">View Results</a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" (click)="logout()" style="cursor: pointer"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
